.product__rating{
    display: flex;
}


.product__btn{
    background-color: #f0c14b;
    border: .1rem solid;
    border-color: tan;
}

.product__btn:hover{
    width: 5.5rem;
    height: 1.25rem;
    cursor: pointer;
}

.margin{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card-img{
    max-width: 9rem !important;
}

